In [1]:
!pip install pdfkit
import os
import pdfkit

import pandas as pd

import pathlib
from datetime import datetime, timedelta, date

Requirement already satisfied: pdfkit in c:\users\rafael\anaconda3\lib\site-packages (1.0.0)

# Collecting and treating the data

In [2]:
file_path = "C:/Users/Rafael/Desktop/repos/Transform-data-into-PDF-reports/Car_sales.csv"
dataframe = pd.read_csv(file_path)
dataframe.head()

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [3]:
# Filtering the columns
dataframe = dataframe[['Manufacturer','Model','Sales_in_thousands', 'Price_in_thousands','Horsepower','Fuel_efficiency','Latest_Launch']]
# Get the top 20 sales 
dataframe = dataframe.sort_values(by=['Sales_in_thousands'],ascending=False)
dataframe = dataframe[:20]

In [4]:
dataframe

,Manufacturer,Model,Sales_in_thousands,Price_in_thousands,Horsepower,Fuel_efficiency,Latest_Launch
56,Ford,F-Series,540.561,26.935,220.0,18.0,8/16/2012
52,Ford,Explorer,276.747,31.930,210.0,19.0,4/25/2012
137,Toyota,Camry,247.994,17.518,133.0,27.0,2/10/2011
49,Ford,Taurus,245.815,17.885,155.0,24.0,12/20/2011
58,Honda,Accord,230.902,15.350,135.0,27.0,5/20/2012
40,Dodge,Ram Pickup,227.061,19.460,230.0,17.0,3/6/2012
55,Ford,Ranger,220.650,12.050,119.0,23.0,1/14/2012
57,Honda,Civic,199.685,12.885,106.0,32.0,10/21/2011
45,Dodge,Caravan,181.749,19.565,150.0,24.0,9/1/2011
50,Ford,Focus,175.670,12.315,107.0,30.0,7/22/2012
69,Jeep,Grand Cherokee,157.040,26.895,195.0,19.0,12/10/2011
53,Ford,Windstar,155.787,21.410,150.0,21.0,2/25/2012
19,Chevrolet,Cavalier,145.519,13.260,115.0,27.0,8/17/2011
136,Toyota,Corolla,142.535,13.108,120.0,33.0,4/11/2011
20,Chevrolet,Malibu,135.126,16.535,170.0,25.0,3/19/2012
119,Pontiac,Grand Am,131.097,19.720,175.0,25.0,11/26/2012
54,Ford,Expedition,125.338,36.135,240.0,16.0,9/14/2012
47,Ford,Mustang,113.369,21.560,190.0,24.0,1/31/2012
43,Dodge,Dakota,111.313,16.980,120.0,19.0,11/25/2011
27,Chevrolet,Impala,107.995,18.890,180.0,27.0,6/18/2011

# Building our pdf report

In [5]:
# First definitions
OPTIONS = {
    'page-size': 'A4',
    'orientation': 'Landscape',
    'quiet': '',
    'enable-local-file-access': True
}
PATH_WKHTMLTOPDF = r'C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe'
CONFIG = pdfkit.configuration(wkhtmltopdf=PATH_WKHTMLTOPDF)
PATH_FOLDER = os.getcwd()
CSS = ('./styles/style.css')

In [6]:
html = '''
    <!doctype html>
        <html lang="en">
            <head>
                <title> Car Sales Report </title>
                <meta name="description" content="Report">
                <meta name="author" content="https://github.com/rafaelviniciusoliveira">
                <meta charset="utf-8"> 
            </head>
            <body align='center'>
'''
summary = '''
        <img src='{0}' id = 'first_logo' alt='Logo_1'>
    '''.format( PATH_FOLDER + "\\img\\logo_1.png")
   
end = "<body></html>"

In [7]:
update = datetime.now().strftime('%m/%d/%Y')
table = f'''
        <div id = "divUpdate">
            <p id="pUpdate">
                CAR SALES INFORMATION - LAST UPDATE ON {update}
            </p>
        </div>
        </div>
            <table class="Header" align="center" width="1250px" style = "top:70px" >
                <thead>
                    <th> Manufacturer </th>
                    <th> Model </th>
                    <th> Sales in thousands </th>
                    <th> Price in thousands </th>
                    <th> Horsepower </th>
                    <th> Fuel efficiency </th>
                    <th> Latest Launch </th>
                </thead>'''

for row in dataframe.itertuples():
    table = table + '''<tr>
    <td>{0}</td>
    <td>{1}</td>
    <td>{2}</td>
    <td>{3}</td>
    <td>{4}</td>
    <td>{5}</td>
    <td>{6}</td>
   </tr>'''.format(row.Manufacturer,row.Model,row.Sales_in_thousands,row.Price_in_thousands,row.Horsepower,row.Fuel_efficiency,row.Latest_Launch)   
table += "</table>"

In [8]:
date = datetime.now().date().strftime('%d-%m-%Y')
file_save_path, file = PATH_FOLDER + f'\\Reports\\', 'Car_sale_report.pdf'
pdfkit.from_string(html + summary + table + end, file_save_path + file, css=CSS, configuration=CONFIG, options=OPTIONS) 
print("Report Generated!")

Report Generated!